<h1>PhoneGap Login</h1>

<%= form_for PhoneGapUser.new do |f| %>
  <div class="row" style="margin-left: 0px; width: 100%;">
    <%= f.text_field :email, :placeholder => "Email Address", :class => "xlarge" %>
  </div><div class="row" style="margin-left: 0px; width: 100%;">
    <%= password_field_tag :password, '', :placeholder => "Password", :class => "xlarge" %>
  </div><div class="row" style="margin-left: 0px; width: 100%;">
    <%= f.submit "Import Apps", :class => 'btn large primary' %>
  </div>
<% end -%>