<h1>Apps</h1>

<p>Login with PhoneGap:</p>

<form action="apps" method="post">
  <input type="text" name="username" placeholder="username"/>
  <input type="password" name="password" placeholder="password"/>
  <input type="submit" value="login"/>
</form>