<h1>Apps</h1>

<ul>
<% @apps.each do |app| %>
  <li>
    <strong><%= app.title %></strong>&nbsp;
    <%= link_to 'plist', phone_gap_user_app_path(@user, app, :format => :plist) %>
    &nbsp;|&nbsp;
    <%= link_to 'install', "itms-services://?action=download-manifest&url=#{phone_gap_user_app_path(@user, app, :format => :plist, :only_path => false)}" %>
  </li>
<% end -%>
</ul>