<!DOCTYPE html>
<html>
<head>
  <title>PhoneGap OTA Installer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container" style="width: 100%; margin-top: 20px; padding-top: 10px;">

<%= yield %>

</body>
</html>
